*{
  font-family: sans-serif;
  font-weight: 300;
  font-size: 12px;
}
body{
  padding: 0 180px;
}
.container{
 display: flex;


}
.container .container-left{
  width: 70%;
}
.container .container-left .tb-news{
  width: 100%;

}

.container .container-left .tb-news span a{
  color: #111;
  padding: 2px;
  background: #DEDEDE;
  text-decoration: none;
}
.container .container-left .tb-news span a:hover{
  color: #78B43D;
  background: #DEDEDE;
  text-decoration: none;
}

.container .container-left .tb-news a{
  color: white;
  border: 1 #78B43D solid;
  background: #78B43D;
  padding: 2px;
  text-decoration: none;
}
.container .container-left .tb-news a:hover{
  color: #111;
  border: 1 #78B43D solid;
  background: #78B43D;
  padding: 2px;
  text-decoration: none;
}

.container .container-right{
  width: 30%;
  padding: 0 15px;
}

.container h2{
  text-transform: uppercase;
  color: #78B43D;
}
.lined{
  background: #78B43D;
  height: 2px;
  margin: 5px 0;
}
.lined2{
  background: tomato;
  height: 2px;
  margin: 5px 0;
}
.thong-tin-doanh-nghiep h2{
  text-transform: uppercase;
  color: tomato;
}
