<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <h2 class="title-1 m-b-25">Danh sách bài đã đăng</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <form action="/detailConfirm" method="GET">
                            <table class="table table-borderless table-striped table-earning" id="tbl-confirm-posting">
                                <thead>
                                    <tr>
                                        <th>Tên bài</th>
                                        <th>Ngày đăng</th>
                                        <th>thể loại</th>
                                        <th>Người viết</th>
                                    </tr>
                                    <tr>
                                        <td>Bom tấn "Avengers: End Game".</td>
                                        <td>21/04/2019</td>
                                        <td>Phim Hot</td>
                                        <td>Tony Tèo</td>
                                    </tr>
                                    <tr>
                                        <td>Tèo Em.</td>
                                        <td>26/04/2019</td>
                                        <td>Phim Hot</td>
                                        <td>Thanh Tâm</td>
                                    </tr>
                                    <tr>
                                        <td>Phim "Con rết người"</td>
                                        <td>26/04/2019</td>
                                        <td>Phim kinh dị</td>
                                        <td>Huỳnh Anh</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--Bổ sung sau-->
                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>