<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Chỉnh sửa độc giả</strong> 
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="post"class="form-horizontal">
                                {{#each this.detail}}              
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="name-input" class=" form-control-label">Họ Tên</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="name-input" name="name-input" value="{{Name}}" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="birthday-input" class=" form-control-label">Ngày Sinh</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="birthday-input" name="birthday-input" value="{{Birthday}}" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="gender-input" class=" form-control-label">Email</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="gender-input" name="gender-input" value="{{Email}}" class="form-control">
                                    </div>
                                </div>
                                <input type="number" value="{{Remain}}" name="trick" style="display:none;">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label class=" form-control-label">Gia hạn</label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" id="inline-radio1" name="radio" value="0" class="form-check-input">Không gia hạn
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" id="inline-radio2" name="radio" value="7" class="form-check-input">7 Ngày
                                            </label>
                                            <label for="inline-radio3" class="form-check-label ">
                                                <input type="radio" id="inline-radio3" name="radio" value="10" class="form-check-input">10 Ngày
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-chevron-circle-down"></i> Update
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-retweet"></i> Reset
                            </button>
                        </div>
                            </form>
                        </div>
                        
                    </div>
                </div>  
        </div>
    </div>
</div>