<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-25">Danh sách độc giả</h2>
                    <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning" id="tbl-readers">
                            <thead>
                                <tr>
                                    <th>Họ Tên</th>
                                    <th>Ngày Sinh</th>
                                    <th>Giới tính</th>
                                    <th>Ngày đăng ký</th>
                                    <th>Ngày còn lại</th>
                                </tr>
                                
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lê Thanh Tâm</td>
                                    <td>09/06/1997</td>
                                    <td>Nam</td>
                                    <td>30/4/2019</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Từ Kim Huỳnh Anh</td>
                                    <td>11/03/1998</td>
                                    <td>Nữ</td>
                                    <td>29/4/2019</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>Nguyễn Văn Tèo</td>
                                    <td>02/03/1996</td>
                                    <td>Nam</td>
                                    <td>27/04/2019</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
            <div class="row" >
                <div class="col-md-12" >
                    <div class="copyright">
                        <p>Copyright © 2019 Group38</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>