<!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="table-responsive table--no-card m-b-40">
                            
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-12" style="margin-bottom:40px;">
                        <div class="copyright">
                            <p>PTUWD - News - Version 1.0</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
    <script>
$(document).ready(function(){
    $('#tbl-posting tr').click(function(){
        var trSelected = $(this).data();
        localStorage.setItem('trSelected', trSelected);
        window.location.replace("/editpost");
    });
    
})
</script>